# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment Variables / Secrets
.env
.env.local

# SQLite Database
*.sqlite3
*.db

# Application Specific Uploads & Reports
uploads/
reports/

# IDE Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
